@import "variables.scss";


.form-valid-icon{
  position: absolute;
  right: 5px;
  top: 50%;
  height: 20px;
  width: 20px;
  @include translateY(-50%);
  @include bg-center;
  cursor: pointer;

  &.form-valid{
    background-image: url('~@icons/form-valid.svg');
  }
  &.form-invalid{
    background-image: url('~@icons/form-invalid.svg');
  }
  &.form-required{
    background-image: url('~@icons/form-required.svg');
    height: 15px;
    width: 15px;
    &:hover:after{
      content:"Champs requis";
      background-color: $g70;
      color: white;
      position: absolute;
      width: auto;
      height: auto;
      left: 50%;
      @include translateX(-50%);
      text-align: center;
      top: calc(-100% - 20px);
      border-radius: 3px;
      font-size: 11px;
      opacity: 1;
      padding: 4px 6px 4px 6px;
    }
  }
}