@import "variables.scss";


.form-valid-icon{
  position: absolute;
  right: 5px;
  top: 50%;
  height: 20px;
  width: 20px;
  @include translateY(-50%);
  @include bg-center;
  cursor: pointer;

  &.form-valid{
    background-image: url('~@icons/form-valid.svg');
  }
  &.form-invalid{
    background-image: url('~@icons/form-invalid.svg');
  }
  &.form-required{
    background-image: url('~@icons/form-required.svg');
    height: 15px;
    width: 15px;
    &:hover:after{
      content:"Champs requis";
      background-color: $g70;
      color: white;
      position: absolute;
      width: auto;
      height: auto;
      left: 50%;
      @include translateX(-50%);
      text-align: center;
      top: calc(-100% - 20px);
      border-radius: 3px;
      font-size: 11px;
      opacity: 1;
      padding: 4px 6px 4px 6px;
    }
  }
}


.infoMessage {
  border: 1px solid $w210;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
  color: $g90;
  
  &.error {
    color: $red1;
    border-color: $red1;
    background-color: lighten($red1, 30%)
  }

  &.warning {
    color: $yellow2;
    border-color: $yellow2;
    background-color: lighten($yellow2, 30%)
  }
}