@import './fonts';
@import './tools';
@import './variables';
@import './classes';


.view {
  position: absolute;
  flex-flow: row nowrap;
  left: 0;
  top: $headerHeight;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  min-height: calc(100% - #{$headerHeight});
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.15s linear;
}


.fade-enter, .fade-leave-to {
  opacity: 0;
}

.flexy {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}

.form-split {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  & > * {
    flex: 1 1 50%!important;
    padding-right: 5px!important;
    &:last-child {
      padding-right: 0!important;
    }
  }
}





section.line-separator::before {
  content:'';
  width: 80%;
  margin: auto;
  height: 1px;
  background-color: $w210;
}

  