@import './fonts';
@import './tools';
@import './variables';
@import './classes';


.view {
  position: absolute;
  flex-flow: column nowrap;
  left: 0;
  top: $headerHeight;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  height: calc(100% - #{$headerHeight});
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}


.lazy-blur-background {
  @include bg-center;
  background-color: $w180;
  overflow: hidden;

  img {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    @include translate(-50%,-50%);
    width: 100%;
    transition: opacity 1s linear;

    &.loaded {
      opacity: 1;
    }
  }

  .img-small {
    filter: blur(50px);
    transform: scale(1);
  }
}




section.line-separator::before {
  content:'';
  width: 80%;
  margin: auto;
  height: 1px;
  background-color: $w210;
}

  