@import './fonts';
@import './tools';
@import './variables';
@import './classes';


.view {
  position: absolute;
  flex-flow: column nowrap;
  left: 0;
  top: $headerHeight;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  height: calc(100% - #{$headerHeight});
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s linear;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}



section.line-separator::before {
  content:'';
  width: 80%;
  margin: auto;
  height: 1px;
  background-color: $w210;
}

  